.postItems {
    margin: 0.5rem;
    padding:1rem;
}

.dateDisplay {
    width: 100%;
}

.content {
 padding-left: 1rem;
 padding-bottom: 1rem;
}

.buttons-icon {
    padding-left:0.5rem;
}

.loveIt { 
    margin-right: 0.5rem;
}

.row { 
    margin: auto;
}